*{
    font-family: open sans;
}

.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;

    border: 1px solid red;

    &__image{
        width: 850px;
        height: 200px;

        border:1px solid black;

        &__anchor__img{
            width: 100%;
            height: 100%;
        }
    }
}

